.logo {
  width: 5%;
}

.ivo {
  width: 10%;
}

.dashboard {
  width: 30%;
}

.footer {
  width: 40%;
  margin: auto;
}

.row {
  display: flex;
}

.column {
  flex: 25%;
  padding: 25px;
}

table {
  height: 300px;
  overflow: scroll;
}

@media screen and (max-width: 600px) {
  .logo {
    width: 30%;
  }
  .dashboard {
    width: 80%;
  }
  .footer {
    width: 100%;
  }
  .column {
    padding: 10px;
  }
}